body {
    text-align: center;
}

h1 {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.text {
    margin-top: 80px;
    text-align: center;
}

div {
    text-align: center;
}

p{
    font-size: 12px;
}

Button {
    margin-left: 10px;
    margin-right: 10px;
}